<section>
  {{#each blogs as |blog|}}
    <div class="container">
      <a data-set="{{blog.id}}" class="blog" href="/api/viewPost/{{blog.id}}">

        <aside class="aside">

          <h2>{{blog.title}}</h2>
          <p>
            <i><b class="date">
                {{format_date blog.createdAt}},
                {{format_time blog.createdAt}}</b></i>
          </p>

        </aside>
      </a>

      <div class="card">
        <p>
          {{blog.content}}
        </p>
        <br />
      </div>
    </div>
  {{/each}}
</section>